.timer-wrapper {
  min-height: 120px;
  max-height: 120px;
  flex-shrink: 0;
}

.timer {
  display: inline-block;
  -webkit-animation: timer 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: timer 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.timer-ending {
  display: inline-block;
  -webkit-animation: timer-ending 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: timer-ending 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes timer {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes timer-ending {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
