.stage-lobby-wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;

  & .teams {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  & .start-button {
    justify-self: baseline;
    align-self: center;
  }
}
